style.css
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: #0f172a;
color: #e5e7eb;
}

.container {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
}
.container h1 {
  font-size: 36px;
  margin-bottom: 10px;
}
.container p {
  line-height: 1.6;
}
